<h1><%= @secondmodel.name %> Page</h1>

<ul class="list-group well">
  <% @secondmodel.thirdmodels.each do |thirdmodel| %>
  <li class="list-group-item"><strong><%= thirdmodel.name %></strong> <%= link_to "View thirdmodel", secondmodel_thirdmodel_path(@secondmodel, thirdmodel), :class => "btn btn-info btn-sm pull-right"%></li>
  <% end %>
</ul>

<div class="btn-group">
  <%= link_to "Edit", edit_secondmodel_path(@secondmodel), :class => "btn btn-primary" %>
  <%= link_to "Delete", secondmodel_path(@secondmodel), :class => "btn btn-primary", :data => {:confirm => "You Sure?", :method => 'delete'} %>
  <%= link_to "Add a thirdmodel", new_secondmodel_thirdmodel_path(@secondmodel), :class => "btn btn-primary" %>
</div>

<hr>

<%= link_to "Back to firstmodel", firstmodel_path(@firstmodel) %>
